<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
      <header th:fragment="header">
          <div id="Logo">
              <div id="LogoContent">
                  <a href="Main"><img src="/images/logo-topbar.gif" /></a>
              </div>
          </div>

          <div id="Menu">
              <div id="MenuContent">
                  <a href="viewCart"><img align="middle" name="img_cart" src="/images/cart.gif" /></a>
                  <img align="middle" src="/images/separator.gif" />




                      <a  th:if="${account == null}" href="signonForm">  Sign In </a>


                      <div th:if="${account != null}">
                          <a th:if="${!authenticated}" href="signonForm">  Sign In </a>




                          <a th:if="${authenticated}" href="signOff">   Sign Out </a>
                          <img align="middle" src="images/separator.gif" />

                          <a  th:if="${authenticated}" th:href="'editAccountForm?username='+${account.username}">    My Account </a>

                      </div>


                  <img align="middle" src="/images/separator.gif" />
                  <a href="/help.html">?</a>
              </div>
          </div>

          <div id="Search">
              <div id="SearchContent">
                  <form action="search" method="post">
                      <input type="text" name="keyword" size="14" />
                      <input type="submit" name="searchProducts" value="Search" />
                  </form>
              </div>
          </div>

          <div id="QuickLinks">
              <a href="viewCategory?categoryId=FISH"><img
                      src="/images/sm_fish.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="viewCategory?categoryId=DOGS"><img
                      src="/images/sm_dogs.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="viewCategory?categoryId=REPTILES"><img
                      src="/images/sm_reptiles.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="viewCategory?categoryId=CATS"><img
                  src="/images/sm_cats.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="viewCategory?categoryId=BIRDS"><img
                      src="/images/sm_birds.gif" /></a>
          </div>
      </header>

      <footer th:fragment="footer">

          <div id="PoweredBy">
              &nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
          </div>
          <div id="Banner">

          </div>
      </footer>
</html>