<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
      <header th:fragment="header">
          <div id="Logo">
              <div id="LogoContent">
                  <a href="main"><img src="/images/logo-topbar.gif" /></a>
              </div>
          </div>

          <div id="Menu">
              <div id="MenuContent">
                  <a href="viewCart"><img align="middle" name="img_cart" src="/images/cart.gif" /></a>
                  <img align="middle" src="/images/separator.gif" />
                  <a href="/account/SignonForm.html">Sign In</a>
                  <a href="#">Sign Out</a>
                  <img align="middle" src="/images/separator.gif" />
                  <a href="#">My Account</a>
                  <img align="middle" src="/images/separator.gif" />
                  <a href="/help.html">?</a>
              </div>
          </div>

          <div id="Search">
              <div id="SearchContent">
                  <form action="search" method="post">
                      <input type="text" name="keyword" size="14" />
                      <input type="submit" name="searchProducts" value="Search" />
                  </form>
              </div>
          </div>

          <div id="QuickLinks">
              <a href="category?categoryId=FISH"><img
                      src="/images/sm_fish.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="category?categoryId=DOGS"><img
                      src="/images/sm_dogs.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="category?categoryId=REPTILES"><img
                      src="/images/sm_reptiles.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="category?categoryId=CATS"><img
                  src="/images/sm_cats.gif" /></a>
              <img src="/images/separator.gif" />
              <a href="category?categoryId=BIRDS"><img
                      src="/images/sm_birds.gif" /></a>
          </div>
      </header>

      <footer th:fragment="footer">

          <div id="PoweredBy">
              &nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
          </div>
          <div id="Banner">

          </div>
      </footer>
</html>