<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head('listorder')">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>


<h2>My Orders</h2>

<table>
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Total Price</th>
    </tr>


        <tr th:each="order : ${orderList}">
            <td>
                <a th:href="'viewOrder?orderId='+${order.orderId}" th:text="${order.orderId}"> ${order.orderId}</a>
            </td>
            <td th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd hh:mm:ss')}">uibiu</td>
            <td th:text="'$'+${order.totalPrice}">iubiu</td>
        </tr>

</table>
<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>