<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>

<div id="Content">

    <h2>My Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>
        <!-- 循环 -->
        <tr>
            <td><a href="ViewOrder.html">1000</a></td>
            <td>2014/03/23 12:00:00</td>
            <td>$18.50</td>
        </tr>
    </table>

</div>
<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>