<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head(${category.name})">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>
<div id="Content">

    <div id="BackLink">
        <a href="../catalog/Main.html">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2 th:text="${category.name}">category name</h2>

        <table>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
            </tr>
            <!-- 循环 -->
            <tr th:each="product : ${productList}">
                <td><a href="viewProduct?productId=${product.productId}" th:text="${product.productId}">FL-DLH-02</a>
                </td>
                <td th:text="${product.name}">Persian</td>
            </tr>
        </table>

    </div>

</div>

<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>