<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">

</header>
<div id="Content">

    <div id="BackLink">
        <a href="Product.html">Return
            to Product</a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b> </b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <font size="4">
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    Back ordered.
                </td>
            </tr>
            <tr>
                <td>
                    ${sessionScope.item.listPrice}
                </td>
            </tr>

            <tr>
                <td>
                    <a class="Button" href="../cart/Cart.html">Add to Cart</a>
                </td>
            </tr>
        </table>

    </div>


</div>
<footer th:replace="common/common_bottom::footer">

</footer>
</body>
</html>