<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head('item')">

</head>
<body>
<header th:replace="common/common_bottom::header">

</header>
<div id="Content">

    <div id="BackLink">
        <a  th:href="@{'viewProduct?productId='+${product.productId}}" th:text="'Return to  '+${product.productId}"> yvyiv </a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <td th:utext="${product.description}">${sessionScope.product.description}</td>
            </tr>
            <tr>
                <td><b th:text="${item.itemId}"> ${sessionScope.item.itemId} </b></td>
            </tr>
            <tr>
                <td><b th:text="${item.attribute1}+${product.name}"><font size="4"> ${sessionScope.item.attribute1}

                    ${sessionScope.product.name} </font></b></td>
            </tr>
            <tr>
                <td th:text="${product.name}">${sessionScope.product.name}</td>
            </tr>
            <tr>
                <td>
                  <div th:if="${item.quantity <= 0}"> Back ordered. </div>
                     <div th:if="${item.quantity > 0}" th:text="${item.quantity}">
                          in stock.
                     </div>
                </td>
            </tr>
            <tr>
                <td th:text="'$'+${item.listPrice}">$93.50</td>
            </tr>

            <tr>
                <td>
                    <a class="Button" th:href="@{'addItemToCart?workingItemId='+${item.itemId}}" >Add to Cart</a>
                </td>

            </tr>
        </table>

    </div>


</div>
<footer th:replace="common/common_bottom::footer">

</footer>
</body>
</html>