<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head('product'+${product.productId})">

</head>
<body>
<header th:replace="common/common_bottom::header">

</header>
<div id="Content">

    <div id="BackLink">
        <a  th:href="@{'viewCategory?categoryId='+${product.categoryId}}"  th:text=" 'Return to  ' +${product.categoryId}">text</a>
    </div>

    <div id="Catalog">

        <h2 th:text="${product.name}">${sessionScope.product.name}</h2>

        <table>
            <tr>
                <th>Item ID</th>
                <th>Product ID</th>
                <th>Description</th>
                <th>List Price</th>
                <th>&nbsp;</th>
            </tr>
            <!-- list -->
            <tr th:each="item :${itemList}">
                <td><a  th:href="@{'viewItem?itemId='+${item.itemId}}" th:text="${item.itemId}">${item.itemId}</a></td>
                <td th:text="${item.product.productId}">${item.product.productId}</td>
                <td th:text="${item.attribute1} + ${product.name}" >${item.attribute1}  </td>
                <td th:text="'$'+${item.listPrice}">$93.50</td>
                <td>
                    <a class="Button" th:href="@{'addItemToCart?workingItemId='+${item.itemId}}" >Add to Cart</a>

                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

</div>
<footer th:replace="common/common_bottom::footer">

</footer>
</body>
</html>