<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">

</header>
<div id="Content">

    <div id="BackLink">
        <a href="Main.html">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <th>&nbsp;</th>
                <th>Product ID</th>
                <th>Name</th>
            </tr>

        </table>

    </div>

</div>
<footer th:replace="common/common_bottom::footer">

</footer>
</body>
</html>