<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head(Cart)">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>

<div id="BackLink">
<a href="Main">Return to Main Menu</a>
</div>
<div id="Content">
<div id="Catalog">

    <div id="Cart">

        <h2>Shopping Cart</h2>

        <form id="carttotal" th:action="@{updateCartQuantities}"  method="post"  >
            <table>
                <tr>
                    <th><b>Item ID</b></th>
                    <th><b>Product ID</b></th>
                    <th><b>Description</b></th>
                    <th><b>In Stock?</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>List Price</b></th>
                    <th><b>Total Cost</b></th>
                    <th>&nbsp;</th>
                </tr>

                    <tr th:if="${cart.numberOfItems == 0}">
                        <td colspan="8"><b>Your cart is empty.</b></td>
                    </tr>

                    <tr th:each="cartItem :${cart.cartItems}">
                        <td>
                            <a th:href="'viewItem?itemId='+${cartItem.item.itemId}" th:text="${cartItem.item.itemId}"></a>
                        </td>
                        <td th:text="${cartItem.item.product.productId}">${cartItem.item.product.productId}</td>
                        <td th:text="${cartItem.item.attribute1} + ${cartItem.item.product.name}" >${item.attribute1}  </td>
                        <td th:text="${cartItem.inStock}">${cartItem.inStock}</td>

                        <td>
                            <input type="text" size="3" th:name="${cartItem.item.itemId}"
                                   id="update"  th:value="${cartItem.quantity}"  />
                        </td>
                        <td th:text="'$'+${cartItem.item.listPrice}">$93.50</td>

                        <td id="total" th:text="'$'+${cartItem.total}"></td>
                        <td>
                            <a class="Button" th:href="@{'removeItemFromCart?cartItemId='+${cartItem.item.itemId}}"  >Remove</a>
                        </td>
                    </tr>

                <tr>
                    <td colspan="7">Sub Total:
                        <b th:text="'$'+${cart.subTotal}">ergr</b>

                        <input class="Button" type="submit"  name="updateCartQuantities" value="Update Cart">
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </form>

            <a  th:if="${cart.numberOfItems > 0}" class="Button"  th:href="newOrderForm" >Proceed to Checkout</a>

    </div>

    <div id="MyList">

    </div>

    <div id="Separator">&nbsp;</div>

</div>
</div>
<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>