<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>

<div id="Content">

    <div id="BackLink">
        <a href="../catalog/Main.html">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <div id="Cart">

            <h2>Shopping Cart</h2>
            <form action="" method="post">
                <table>
                    <tr>
                        <th><b>Item ID</b></th>
                        <th><b>Product ID</b></th>
                        <th><b>Description</b></th>
                        <th><b>In Stock?</b></th>
                        <th><b>Quantity</b></th>
                        <th><b>List Price</b></th>
                        <th><b>Total Cost</b></th>
                        <th>&nbsp;</th>
                    </tr>
                    <!-- 判断 -->
                    <tr>
                        <td colspan="8"><b>Your cart is empty.</b></td>
                    </tr>
                    <!-- 循环 -->
                    <tr>
                        <td><a href="#">EST-16</a></td>
                        <td>FL-DLH-02</td>
                        <td>Adult Female Persian</td>
                        <td>true</td>
                        <td><input type="text" size="3"
                                   name="" value=" 1"/></td>
                        <td>$93.50</td>
                        <td>$93.50</td>
                        <td><a href="#" class="Button">Remove</a></td>
                    </tr>
                    <tr>
                        <td colspan="7">Sub Total: <!-- 判断 --> $93.50 <input
                                class="Button" type="submit" value="Update Cart" />
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </form>

            <!-- 需要判断是否登录 -->

            <a href="../order/NewOrderForm.html">Proceed to Checkout</a>
        </div>

        <div id="MyList">
            <!-- 判断 -->
            <include file="IncludeMyList.html" />
        </div>

        <div id="Separator">&nbsp;</div>
    </div>

</div>

<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>