<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>

<div id="Catalog">
    <form action="editAccount" method="post">
        <h3>User Information</h3>
        <table>
            <tr>
                <td>User ID:</td>
                <td th:text="${username}">${sessionScope.username}</td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="text" name="repeatedPassword"></td>
            </tr>
        </table>
        <div th:replace="a_EditAccountForm::includelist">

        </div>
        <%@ include file="IncludeAccountFields.jsp"%>

        <input class="button" type="submit" name="editAccount" value="Save Account Information">
    </form>
     <a th:href="'viewOrderList?username='+${username}">My Orders</a>
</div>

<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>