<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_head::head">

</head>
<body>
<header th:replace="common/common_bottom::header">
</header>
<div id="Catalog">
    <form action="signOn" method="post" >
        <p>Please enter your username and password.</p>
        <p>Username:<input type="text" name="username" value="j2ee"> </p>
        <p>Password:<input type="password" name="password" value="j2ee"></p>
        <p> Identifying code:<input type="text" name="code1"  value="">
        </p>
        <p>

            <img id="codeImage" alt="identifying code" src="capture" style="vertical-align: top">

            <a class="Button" href="signonForm" style="vertical-align: top">change another</a><br/>


                <font color="red" size="4" th:if="${flag}">identifying code is error</font>

        </p>
        <input class="button" type="submit" name="signon" value="Login">
    </form>
    Need a user name and password?
    <a href="newAccountForm">Register Now!</a>
</div>
<footer th:replace="common/common_bottom::footer">
</footer>
</body>
</html>